save-prefix=""
no-optional=true
enable-pre-post-scripts=true
link-workspace-packages=deep
prefer-workspace-packages=true
# The --shamefully-hoist is required due to requirments of screencast / testUtils repos
# When a client repo is mounted, it needs access to those repos node_modules
# Which is node via a symlink to the /goblet/node_modules folder
# shamefully-hoist=true

# TODO: investigate these
# strict-peer-dependencies=false
# auto-install-peers=false
# public-hoist-pattern[]=*node-module-package-names*