save-prefix=""
no-optional=true
enable-pre-post-scripts=true
link-workspace-packages=deep
prefer-workspace-packages=true
save-workspace-protocol="rolling"
# The --shamefully-hoist is required due to requirments of screencast / testUtils repos
# When a client repo is mounted, it needs access to those repos node_modules
# Which is made via a symlink to the /goblet/node_modules folder
# shamefully-hoist=true
