.goblet-monaco-editor-area-empty {
  position: absolute;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  background: var(--goblet-editor-background);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  user-select: none;
}
.goblet-monaco-editor-area-empty-icon {
  user-select: none;
  width: 100px;
  height: 100px;
  margin-bottom: 20px;
}