.goblet-editor-opened-tab {
  width: 100%;
  height: 43px;
  min-height: 37px;
  display: flex;
  font-size: 14px;
  overflow-x: scroll;
  overflow-y: hidden;
  white-space: nowrap;
  flex-direction: row;
  align-items: center;
  scrollbar-width: none;
  box-sizing: border-box;
  justify-content: flex-start;
  background-color: var(--goblet-editorGroupHeader-tabsBackground);
}

.goblet-editor-opened-tab::-webkit-scrollbar {
  width: 6px;
  height: 6px;
}
.goblet-editor-opened-tab::-webkit-scrollbar-track {
  background: var(--goblet-editor-background);
  box-shadow: inset 0 0 5px var(--goblet-scrollbar-shadow);
  -webkit-box-shadow: inset 0 0 5px var(--goblet-scrollbar-shadow);
}
.goblet-editor-opened-tab::-webkit-scrollbar-thumb {
  border-radius: 3px;
  background: var(--goblet-scrollbarSlider-background);
  box-shadow: inset 0 0 5px var(--goblet-scrollbar-shadow);
  -webkit-box-shadow: inset 0 0 5px var(--goblet-scrollbar-shadow);
}

.goblet-editor-opened-tab-wrapper {
  width: 100%;
  overflow: hidden;
  box-sizing: border-box;
  padding-right: 35px;
  height: 43px;
}
.goblet-editor-opened-tab-item {
  height: 35px;
  display: flex;
  cursor: pointer;
  margin-right: 1px;
  position: relative;
  flex-direction: row;
  align-items: center;
  box-sizing: border-box;
  padding: 0 5px 0 10px;
  color: var(--goblet-tab-inactiveForeground);
  background-color: var(--goblet-tab-inactiveBackground);
  transition: color 300ms ease, background-color 300ms ease;
}
.goblet-editor-opened-tab-item-focused {
  color: var(--goblet-tab-activeForeground);
  background-color: var(--goblet-tab-activeBackground);
}
.goblet-editor-opened-tab-item:hover {
  color: var(--goblet-tab-activeForeground);
  background-color: var(--goblet-tab-activeBackground);
}

.goblet-editor-opened-tab-item-close {
  position: relative;
  padding: 5px 5px;
  line-height: 10px;
  color: transparent;
  background: transparent;
  transition: color 300ms ease, background-color 300ms ease;
}

.goblet-editor-opened-tab-item:hover .goblet-editor-opened-tab-item-close {
  color: var(--goblet-errorForeground);
  background-color: var(--goblet-tab-activeBackground);
}

.goblet-editor-opened-tab-item-editing {
  right: 10px;
  top: 15px;
  width: 7px;
  height: 7px;
  position: absolute;
  border-radius: 50%;
  background-color: var(--goblet-tab-activeForeground);
}
.goblet-editor-modal-rightclick .goblet-editor-modal-mask {
  opacity: 0;
}
.goblet-editor-rightclick-panel {
  position: fixed;
  padding: 5px 0;
  font-size: 12px;
  min-width: 150px;
  line-height: 30px;
  color: var(--goblet-editor-foreground);
  background: var(--goblet-editorWidget-background);
}
.goblet-editor-rightclick-panel-item {
  padding: 0 10px;
  cursor: pointer;
}
.goblet-editor-rightclick-panel-item:hover {
  color: var(--goblet-list-hoverForeground);
  background: var(--goblet-list-focusBackground);
}
