.music-monaco-editor-list-wrapper {
  width: 180px;
  font-size: 14px;
  line-height: 25px;
  height: 100%;
  background: var(--monaco-editor-background);
  color: var(--monaco-editor-foreground);
  overflow: scroll;
  flex-shrink: 0;
}
.music-monaco-editor-list-split {
  display: flex;
  flex-direction: row;
  align-items: center;
  height: 25px;
  user-select: none;
  cursor: pointer;
  line-height: 25px;
}
.music-monaco-editor-list-split .music-monaco-editor-list-split-icon {
  visibility: visible;
}
.music-monaco-editor-list-split-icon {
  visibility: hidden;
  font-size: 16px;
  color: var(--monaco-editor-foreground);
  margin-right: 4px;
}
.music-monaco-editor-list-split-icon:hover {
  color: var(--monaco-list-hoverForeground);
}
.music-monaco-editor-list-file-item {
  user-select: none;
}
.music-monaco-editor-list-file-item-new {
  flex: 1;
  outline: none;
  border: 1px solid var(--monaco-editor-wordHighlightBorder);
}
.music-monaco-editor-list-file-item-new:focus {
  cursor: text;
}
.music-monaco-editor-list-file-item-row {
  cursor: pointer;
  user-select: none;
  display: flex;
  flex-direction: row;
  align-items: center;
}
.music-monaco-editor-list-file-item-row:hover {
  background-color: var(--monaco-list-hoverBackground);
  color: var(--monaco-list-hoverForeground);
}
.music-monaco-editor-list-file-item-row:hover .music-monaco-editor-list-split-icon {
  visibility: visible;
}
.music-monaco-editor-list-file-item-row-focused {
  background-color: var(--monaco-list-focusBackground);
  color: var(--monaco-list-focusForeground);
}
