:root {
  --goblet-list-activeSelectionBackground: #47526640;
  --goblet-list-activeSelectionForeground: #bfbdb6;
  --goblet-list-focusBackground: #47526640;
  --goblet-list-focusForeground: #bfbdb6;
  --goblet-list-highlightForeground: #e6b450;
  --goblet-list-hoverBackground: #47526640;
  --goblet-list-hoverForeground: #bfbdb6;
  --goblet-list-inactiveSelectionBackground: #409fff21;
  --goblet-list-inactiveSelectionForeground: #565b66;
  --goblet-list-warningForeground: #e6b450;
  --goblet-editor-background: #0b0e14;
  --goblet-editor-foreground: #bfbdb6;
  --goblet-scrollbar-shadow: #1e232b00;
  --goblet-scrollbarSlider-activeBackground: #565b66b3;
  --goblet-scrollbarSlider-background: #565b6666;
  --goblet-scrollbarSlider-hoverBackground: #565b6699;
  --goblet-editorCursor-foreground: #e6b450;
  --goblet-sideBar-border: #0b0e14;
}

.goblet-editor {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
  width: 100%;
  height: 100%;
  position: relative;
  color: var(--goblet-editor-foreground);
}

.goblet-editor-drag {
  width: 5px;
  background: var(--goblet-editor-background);
  height: 100%;
  cursor: col-resize;
  flex-shrink: 0;
}

.goblet-editor-drag:hover {
  background: var(--goblet-editorCursor-foreground);
}

.goblet-editor-area {
  color: var(--goblet-editor-foreground);
  background-color: var(--goblet-editor-background);
  flex: 1;
  min-width: 0;
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  position: relative;
}

.goblet-editor-setting {
  width: 400px;
  height: 200px;
  background: var(--goblet-editor-background);
  border-radius: 10px;
  color: var(--goblet-list-activeSelectionForeground);
  display: flex;
  flex-direction: column;
}
.goblet-editor-setting-button {
  cursor: pointer;
  position: absolute;
  left: 8px;
  bottom: 5px;
}
.goblet-editor-setting-header {
  position: relative;
  height: 25px;
  width: 100%;
  background: var(--goblet-editorCursor-foreground);
  color: var(--goblet-settings-headerForeground);
  border-radius: 10px 10px 0 0;
  box-sizing: border-box;
  padding-left: 10px;
}
.goblet-editor-setting-header-close {
  cursor: pointer;
  line-height: 12px;
  height: 12px;
  top: 4px;
  padding: 4px;
  position: absolute;
  right: 10px;
}
.goblet-editor-setting-content {
  flex-grow: 1;
  padding: 10px 10px 10px 30px;
  overflow-y: scroll;
}
.goblet-editor-prettier {
  position: absolute;
  right: 5px;
  top: 5px;
  cursor: pointer;
}
.goblet-editor-input-row {
  display: flex;
  flex-direction: row;
  align-items: center;
  margin-top: 10px;
}
.goblet-editor-input-name {
  font-size: 12px;
  line-height: 20px;
  width: 100px;
  text-align: left;
}
.goblet-editor-input-value {
  font-size: 12px;
  line-height: 20px;
}
.goblet-editor-loading {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100%;
  width: 100%;
  background: var(--goblet-editor-background);
}
.goblet-editor-loading-icon {
  width: 60px;
  height: 60px;
}

.goblet-editor-icons {
  width: 16px;
  height: 16px;
  min-width: 16px;
  min-height: 16px;
}
