
.goblet-editor-setting {
  width: 400px;
  height: 200px;
  background: var(--goblet-editor-background);
  border-radius: 10px;
  color: var(--goblet-list-activeSelectionForeground);
  display: flex;
  flex-direction: column;
}
.goblet-editor-setting-button {
  cursor: pointer;
  position: absolute;
  left: 8px;
  bottom: 5px;
}
.goblet-editor-setting-header {
  position: relative;
  height: 25px;
  width: 100%;
  background: var(--goblet-editorCursor-foreground);
  color: var(--goblet-settings-headerForeground);
  border-radius: 10px 10px 0 0;
  box-sizing: border-box;
  padding-left: 10px;
}
.goblet-editor-setting-header-close {
  cursor: pointer;
  line-height: 12px;
  height: 12px;
  top: 4px;
  padding: 4px;
  position: absolute;
  right: 10px;
}
.goblet-editor-setting-content {
  flex-grow: 1;
  padding: 10px 10px 10px 30px;
  overflow-y: scroll;
}
.goblet-editor-prettier {
  position: absolute;
  right: 5px;
  top: 5px;
  cursor: pointer;
}
.goblet-editor-input-row {
  display: flex;
  flex-direction: row;
  align-items: center;
  margin-top: 10px;
}
.goblet-editor-input-name {
  font-size: 12px;
  line-height: 20px;
  width: 100px;
  text-align: left;
}
.goblet-editor-input-value {
  font-size: 12px;
  line-height: 20px;
}
.goblet-editor-loading {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100%;
  width: 100%;
  background: var(--goblet-editor-background);
}
.goblet-editor-loading-icon {
  width: 60px;
  height: 60px;
}

.goblet-editor-icons {
  width: 18px;
  height: 18px;
  min-width: 18px;
  min-height: 18px;
}
