
.goblet-editor-sidebar-panel .goblet-editor-panel-header-icon {
  visibility: hidden;
}

.goblet-editor-sidebar-panel:hover .goblet-editor-panel-header-icon {
  visibility: visible;
}


.goblet-editor-file-item {
  user-select: none;
}

.goblet-editor-file-item-new {
  flex: 1;
  outline: none;
  border: 1px solid var(--goblet-editor-wordHighlightBorder);
}

.goblet-editor-file-item-new:focus {
  cursor: text;
}
