.goblet-monaco-editor-list-wrapper {
  width: 180px;
  font-size: 14px;
  line-height: 25px;
  height: 100%;
  background: var(--monaco-editor-background);
  color: var(--monaco-editor-foreground);
  overflow: scroll;
  flex-shrink: 0;
}

.goblet-monaco-editor-list-wrapper::-webkit-scrollbar {
  width: 6px;
  height: 6px;
}

.goblet-monaco-editor-list-wrapper::-webkit-scrollbar-track {
  background: var(--monaco-editor-background);
  box-shadow: inset 0 0 5px var(--monaco-scrollbar-shadow);
  -webkit-box-shadow: inset 0 0 5px var(--monaco-scrollbar-shadow);
}
.goblet-monaco-editor-list-wrapper::-webkit-scrollbar-thumb {
  border-radius: 3px;
  background: var(--monaco-scrollbarSlider-background);
  box-shadow: inset 0 0 5px var(--monaco-scrollbar-shadow);
  -webkit-box-shadow: inset 0 0 5px var(--monaco-scrollbar-shadow);
}

.goblet-monaco-editor-list-wrapper::-webkit-scrollbar-corner,
.goblet-monaco-editor-list-wrapper::-webkit-resizer {
  border-radius: 3px;
  background: var(--monaco-scrollbarSlider-background);
  box-shadow: inset 0 0 5px var(--monaco-scrollbar-shadow);
  -webkit-box-shadow: inset 0 0 5px var(--monaco-scrollbar-shadow);
}

.goblet-monaco-editor-list-split {
  display: flex;
  flex-direction: row;
  align-items: center;
  height: 25px;
  user-select: none;
  cursor: pointer;
  line-height: 25px;
}
.goblet-monaco-editor-list-split .goblet-monaco-editor-list-split-icon {
  visibility: visible;
}
.goblet-monaco-editor-list-split-icon {
  visibility: hidden;
  font-size: 16px;
  color: var(--monaco-editor-foreground);
  margin-right: 4px;
}
.goblet-monaco-editor-list-split-icon:hover {
  color: var(--monaco-list-hoverForeground);
}
.goblet-monaco-editor-list-file-item {
  user-select: none;
}
.goblet-monaco-editor-list-file-item-new {
  flex: 1;
  outline: none;
  border: 1px solid var(--monaco-editor-wordHighlightBorder);
}
.goblet-monaco-editor-list-file-item-new:focus {
  cursor: text;
}
.goblet-monaco-editor-list-file-item-row {
  cursor: pointer;
  user-select: none;
  display: flex;
  flex-direction: row;
  align-items: center;
}
.goblet-monaco-editor-list-file-item-row:hover {
  background-color: var(--monaco-list-hoverBackground);
  color: var(--monaco-list-hoverForeground);
}
.goblet-monaco-editor-list-file-item-row:hover .goblet-monaco-editor-list-split-icon {
  visibility: visible;
}
.goblet-monaco-editor-list-file-item-row-focused {
  background-color: var(--monaco-list-focusBackground);
  color: var(--monaco-list-focusForeground);
}
