
.goblet-monaco-sidebar-panel .goblet-monaco-panel-header-icon {
  visibility: hidden;
}

.goblet-monaco-sidebar-panel:hover .goblet-monaco-panel-header-icon {
  visibility: visible;
}

.goblet-monaco-file-item-icon {
  visibility: hidden;
  font-size: 16px;
  color: var(--monaco-editor-foreground);
  margin-right: 4px;
}

.goblet-monaco-file-item-icon:hover {
  color: var(--monaco-list-hoverForeground);
}

.goblet-monaco-file-item {
  user-select: none;
}

.goblet-monaco-file-item-new {
  flex: 1;
  outline: none;
  border: 1px solid var(--monaco-editor-wordHighlightBorder);
}

.goblet-monaco-file-item-new:focus {
  cursor: text;
}

.goblet-monaco-file-item-row {
  display: flex;
  cursor: pointer;
  user-select: none;
  flex-direction: row;
  align-items: center;
}

.goblet-monaco-file-item-row:hover {
  background-color: var(--monaco-list-hoverBackground);
  color: var(--monaco-list-hoverForeground);
}

.goblet-monaco-file-item-row:hover .goblet-monaco-file-item-icon {
  visibility: visible;
}

.goblet-monaco-file-item-row-focused {
  background-color: var(--monaco-list-focusBackground);
  color: var(--monaco-list-focusForeground);
}

.goblet-monaco-file-item-row .goblet-editor-actions-container {
  right: 0px;
  height: 25px;
  padding-top: 3px;
  padding-left: 5px;
  position: absolute;
}

.goblet-monaco-file-item-row:hover .goblet-editor-actions-container {
  background-color: var(--monaco-list-hoverBackground);
}